<div class="container">

<h1>New task</h1>

<div id="form-container">

  <%= render "form", task:@task %>
</div>

<%= link_to tasks_path, class: "link" do %>
  <i class="fa-solid fa-arrow-rotate-left"></i><span> Go back</span>
<% end %>

</div>
