<div class="container">
  <div id="task-header">
    <h1> <%= @task.title %> </h1>
    <div id="edit-icon">
      <%= link_to tasks_edit_path(@task), class: "link" do %>
        <i class="fa-solid fa-pencil icon-spacing"></i><span>Edit this task</span>
      <% end %>
    </div>
  </div>

  <div id = "task-details"> <%= @task.details %> </div>

  <%= link_to tasks_path, class: "link" do %>
    <i class="fa-solid fa-arrow-rotate-left"></i><span> Go back</span>
  <% end %>

</div>
